* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

}

header {
    background-color: #2965F1;
    padding: 23px 0;
;
}

header span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100vh;
}

.main-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #FFF;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    padding: 9px 87px 8px 10px;
    max-height: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    appearance: none;
    background-image: url(./assets/images/Vector.png); 
    background-repeat: no-repeat;
    background-position: right 10px center;
    box-sizing: border-box;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./assets/images/Vector-2.png);
    padding-left: 20px;
    appearance: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    max-height: 36px;
    padding: 9px 215px 8px 12px;
    background: rgba(255, 255, 255, 0);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none
}

.line {
    /* Стили для линии */
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    border: 1px solid #95a1bb;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 300px;
    text-align: left;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 11px 0 12px 15px;
}

footer {
    /* Стили для футера */
    background-color: rgba(163, 167, 255, 0.3);
    padding-top: 26px;
    padding-bottom: 27px;
}

.footer-link {
    /* Стили для футера */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}